<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/simple-material-table/simple-material-table.html">

<link rel="import" href="../../src/bar-navigation/bar-navigation.html">

<dom-module id="visor-movimientos">
  <template>
    <style>
      :host {
        display: block;
        margin-top: 10%;
      }
      .ds_card{
        max-width: 60rem;
      }
    </style>

    <!-- Importar estilos -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <bar-navigation _items=[[_items]]></bar-navigation>

    <div class="card mx-auto ds_card">
      <!-- Header -->
      <h4 class="card-header text-white border-info bg-primary">Cuenta {{idCuenta}}</h4>

      <!-- Body -->
      <div class="card-body bg-light text-primary">
        <!-- Contenido del body -->
        <div class="card">
          <ul id="transfer-tabs" class="nav nav-pills" role="tablist">
                          <li role="presentation" class="active" id="origin-page">
                              <a href="#origin-tab-content" aria-controls="origin-tab-content"><em>Origin</em></a>
                          </li>
                          <li role="presentation" id="destination-page">
                              <a href="#destination-tab-content" aria-controls="destination-tab-content"><em>Destination</em></a>
                          </li>
                          <li role="presentation" id="amount-page">
                              <a href="#amount-tab-content" aria-controls="amount-tab-content"><em>Amount</em></a>
                          </li>
                          <li role="presentation" id="when-page">
                              <a href="#when-tab-content" aria-controls="when"><em>When</em></a></li>
                          <li role="presentation" id="description-page">
                              <a href="#description-tab-content" aria-controls="description-tab-content"><em>Description</em></a>
                          </li>
                          <li role="presentation" id="confirmation-page">
                              <a href="#confirmation-tab-content" aria-controls="confirmation-tab-content"><em>Confirmation</em></a>
                          </li>
                      </ul>
                </div>
      </div>
    </div>

    <iron-ajax
      auto=""
      id="getTransferencias"
      url="http://localhost:3000/apitechu/v2/users/{{idCliente}}/{{idCuenta}}/CuentasyMovimientos"
      handle-as="json"
      on-response="showData"
      on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorTransferencias extends Polymer.Element {
      static get is() { return 'visor-transferencias'; }
      static get properties() {
        return {
          Fecha: {
             type: String
          },
          idCliente: {
             type: Number
          },
          Cliente: {
             type: String
          },
          idCuenta: {
             type: String
          },
          ldMovimiento: {
             type: String
          },
          Tipo: {
             type: String
          },
          Importe: {
             type: Number
          },
          CuentasyMovimientos: {
             type: Array
          },
          columns:{
            type: Array
          }
        };
      }

      showData(data){
        console.log(data.detail.response);
        this.CuentasyMovimientos= data.detail.response;
      }

      /* Mostrar error si la respuesta del servidor falla */
      showError(error){
        console.log("Hubo un error");
        console.log(error);
      }

      constructor(){
          super();
          // Conseguir elemento*/
          this.idCliente=localStorage.getItem("id");
          this.idCuenta=localStorage.getItem("idCuenta");
          console.log(this.idCliente)
          this._items = [{
            "path": "/user/CuentasyMovimientos",
            "label": "Cuentas"
          },{
            "path": "/user",
            "label": "Perfil"
          },{
            "path": "/logout",
            "label": "Logout"
          }]

          this.columns = [{
            title: "Fecha",
            number: false,
            column: 'Fecha',
            hidden: false
          }, {
            title: "Movimiento",
            number: false,
            column: 'Tipo',
            /*formatter: function (value) {
              return parseFloat(value).toFixed(2);
            },*/
            hidden: false
          }, {
            title: "Importe",
            number: true,
            column: 'Importe',
            /*formatter: function (value) {
              return parseFloat(value).toFixed(0);
            },*/
            hidden: false
          },];
      }

    }

    window.customElements.define(VisorTransferencias.is, VisorTransferencias);
  </script>
</dom-module>
