<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../src/bar-navigation/bar-navigation.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
        margin-top: 10%;
      }
      .ds_card{
        max-width: 60rem;
      }
      .ds_cardb{
        overflow-y: auto;
        height: auto;
        max-height: 40rem;
      }
      hr.style {
      	height: 10px;
      	border: 0;
      	box-shadow: 0 10px 10px -10px #8c8b8b inset;
      }
    </style>

    <!-- Importar estilos -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <bar-navigation _items=[[_items]]></bar-navigation>

    <div class="card mx-auto ds_card">
      <!-- Header -->
      <h4 class="card-header text-white border-info bg-primary">Cuentas</h4>

      <!-- Body -->
      <div class="card-body ds_cardb bg-light text-primary">
          <!-- Contenido del body -->
          <template is="dom-repeat" items="{{Cuentas}}">
            <div class="row">
              <div class="col-4">
                <h5>Cuenta</h5>
                <h6>{{item.Cuenta}}</h6>
                <!--a href="Cuentas/Movimientos" on-click="saveData" data$='{{index}}'></a-->
              </div>
              <div class="col-4 text-right">
                <h5> Saldo </h5>
                <h6> {{item.Importe_Tot}}</h5>
              </div>
              <div class="col-4 text-center">
                  <h5> Acciones </h5>
                  <div class="row">
                  <div class="col-4 text-center">
                    <i class="col far fa-eye fa-sm fa-fw text-primary" aria-hidden="true" data-toggle="tooltip" title="Movimientos"
                      on-click="saveData" data$='{{index}}'>
                    </i>
                  </div>
                  <div class="col-4 text-center">
                    <i class="col fas fa-exchange-alt fa-sm fa-fw text-primary" aria-hidden="true" data-toggle="tooltip" title="Transferencia"></i>
                  </div>
                  <div class="col-4 text-center">
                    <i class="col fas fa-sign-in-alt fa-sm fa-fw text-primary" aria-hidden="true" data-toggle="tooltip" title="Traspaso"></i>
                  </div>
                </div>
              </div>

            </div>

            <hr class="style"></hr>
          </template>
      </div>
    </div>

    <iron-ajax
      auto=""
      id="getidClienteCuentas"
      url="http://localhost:3000/apitechu/v2/Usuarios/{{id}}/Cuentas"
      handle-as="json"
      on-response="showData"
      on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          id: {
            type: String
          },
          Cuentas: {
            type: Array
          },
          Importe: {
            type: Number
          },
          Movimientos: {
            type: Array
          }
        };
      }

      showData(data){
        this.Cuentas= data.detail.response[0].Cuentas;

        this.Cuentas.forEach(function(element){
          var sum=0;
          element.Movimientos.forEach(function(element1){
            sum += element1.Importe;
          })
          element.Importe_Tot = sum;

        });

      }

      /* Mostrar error si la respuesta del servidor falla */
      showError(error){
        console.log("Hubo un error");
        console.log(error);
      }

      saveData(e){
        var data = e.target.getAttribute('data');
        localStorage.setItem("idCuenta", data);

        window.location = "Cuentas/Movimientos";
        console.log("saveData");
      }

      constructor(){
          super();

          // Conseguir elemento*/
          this.id=localStorage.getItem("id");
          console.log(this.id)
          this._items = [{
            "path": "/user/Cuentas",
            "label": "Cuentas"
          },{
            "path": "/perfil",
            "label": "Perfil"
          },{
            "path": "/logout",
            "label": "Logout"
          }]
    }
  }
    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
