<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1> Sus cuentas </h1>
    <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"-->
    <h2 class="col-md-5">Soy el usuario: {{userid}}  </h2-->
    <template is="dom-repeat" items="{{accounts}}">

      <h5> IBAN - {{item.iban}}</h5>
      <h5> SALDO - {{item.balance}}</h5>
    </br>

    </template>
    <!--button class="btn-success">login</button-->
    <!--button class="btn-warning">logout</button-->
    <!--input type="text" value="{{first_name::input}}"/-->
    <!--input type="range" min="18" value={{age::input}} max="70"/-->
    <iron-ajax
      auto=""
      id="getUserAccount"
      url="http://localhost:3000/apitechu/v2/users/{{userid}}/accounts"
      handle-as="json"
      on-response="showData"
    >





  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {



          userid: {
             type: Number

          },


          iban: {
             type: String

          },

          balance: {
             type: Number
          },

          accounts: {
             type: Array
      }

      };
    }

      showData(data){
      //console.log(data)
      //console.log("recibimos los datos del usuario");
      //console.log(data.detail.response[0].userid);
      //console.log(data.detail.response[0].iban);
      //console.log(data.detail.response[0].balance);

      //this.userid = data.detail.response[0].userid;
      //this.iban = data.detail.response[0].iban;
      //this.balance = data.detail.response[0].balance;
      console.log(data.detail.response);
      this.accounts= data.detail.response;

        }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
