<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../src/bar-navigation/bar-navigation.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
        margin-top: 60px;
      }
    </style>

    <!-- Importar estilos -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <bar-navigation _items=[[_items]]></bar-navigation>
    
    <div class="row">
      <h1 class="col-md-12">Visor usuario</h1>
      <h2 class="col-md-5">Soy {{id}} </h2>
      <h2 class="col-md-5"> y mi email es {{Email}} años</h2>

        </div>

    <iron-ajax
      auto=""
      id="getUser"
      url="http://localhost:3000/apitechu/v2/Usuarios/{{id}}"
      handle-as="json"
      on-response="showData"
    >


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          Nombre: {
             type: String
          },
          Apellido1: {
             type: String
          },
          Apellido2: {
             type: String
          },
          Direccion: {
             type: String
          },
          id: {
             type: Number
          },
          Email: {
             type: String
          },
          Sexo: {
             type: String
          },
          Edad: {
             type: Number
          },
          _items: {
             type: Array
          },
          path: {
             type: String
          },
          label: {
             type: String
          }
        };

      }

      showData(data){
        //console.log(data)
        console.log("recibimos los datos del usuario");
        console.log(data.detail.response[0].id);
        console.log(data.detail.response[0].Email);

        this.id = data.detail.response[0].id;
        this.Email = data.detail.response[0].Email;
      }

      constructor(){
            super();
            this._items = [{
              "path": "/user/Cuentas",
              "label": "Cuentas"
            },{
              "path": "/perfil",
              "label": "Perfil"
            },{
              "path": "/logout",
              "label": "Logout"
            }]
            // Conseguir elemento
            this.id=localStorage.getItem("id");
            console.log(this.id);
        }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
