<!-- Importar componentes -->
<link rel="import" href="../../bower_components/app-router/app-router.html">

<!-- Importar nuestros componentes -->
<link rel="import" href="/src/login-usuario/login-usuario.html">
<link rel="import" href="/src/visor-usuario/visor-usuario.html">
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">
<link rel="import" href="/src/visor-movimientos/visor-movimientos.html">
<link rel="import" href="/bower_components/app-router/app-router.html">



<dom-module id="bar-navigation">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <!-- Importar estilos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="my_style.css">

    <!-- Navegación cabecera -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top scrolling-navbar p-2">

      <!--Brand-->
      <h3 class="navbar-brand font-weight-bold ml-3" href="#" >Bienvenido a Proyecto Bilbao-Team</h3>

      <!--Collapse button-->
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbar1" aria-controls="navbar1"
        aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible content -->
      <div class="navbar-collapse collapse justify-content-end" id="navbar1">
        <!--Links-->
        <ul class="navbar-nav">
          <li class="nav-item active">
              <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" >
              <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item" >
              <a class="nav-link disabled" href="/user/:id">Perfil</a>
          </li>
          <li class="nav-item" >
              <a class="nav-link disabled" href="/user/:idCliente/CuentasyMovimientos">Cuentas</a>
          </li>
        </ul>
      </div>

    </nav>


    <!--/header-->


    <app-router>
      <app-route path="/"></app-route>
      <app-route path="/login"  import="/src/login-usuario/login-usuario.html"></app-route>
      <app-route path="/signup"  import="/src/login-usuario/login-usuario.html"></app-route>
      <!--app-route path="/user/:id"  import="/src/visor-usuario/visor-usuario.html"></app-route-->
      <!--app-route path="/user/:idCliente/CuentasyMovimientos"  import="/src/visor-cuentas/visor-cuentas.html"></app-route-->
      <!--app-route path="/user/:idCliente/:idCuenta/CuentasyMovimientos"  import="/src/visor-movimientos/visor-movimientos.html"></app-route-->
      <app-route path="*" import="/src/page-not-found/page-not-found.html"></app-route>
    </app-router>

  </template>

  <script>

    class BarNavigation extends Polymer.Element {
      static get is() { return 'bar-navigation'; }
      static get properties() {
        return {
          items: {
             type: Array
          }
        };
      }




    }

    window.customElements.define(BarNavigation.is, BarNavigation);

  </script>

</dom-module>
