<!--link rel="import" href="../../bower_components/google-map/google-map-marker.html"-->
<!--script src="../../bower_components/good-map/good-map.js" async defer></script-->
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="../../bower_components/google-apis/google-apis.html">


<dom-module id="mvtos-map">
  <template>
    <style>
      :host {
        display: block;
      }
      google-map {
        display: block;
        height: 200px;
        width: 800px;
      }
    </style>

    <google-map latitude=[[latitud]] longitude=[[longitud]] min-zoom="9" max-zoom="11"
                language="en" api-key="AIzaSyBtO8ehhAA226i58W98cP_8aqVfoiUk30Y">
      <google-map-marker slot="markers" latitude=[[latitud]] longitude=[[longitud]] label="M"
                         title="El movimiento ha sido aquí">
        <!--img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/San_Francisco_Giants_Cap_Insignia.svg/200px-San_Francisco_Giants_Cap_Insignia.svg.png" /-->
      </google-map-marker>
    </google-map>

  </template>

  <script>

    class MvtosMap extends Polymer.Element {
      static get is() { return 'mvtos-map'; }
      static get properties() {
        return {
          longitud: {
             type: String
          },
          latitud: {
             type: String
          }
        };
      }
      
    }

    window.customElements.define(MvtosMap.is, MvtosMap);

  </script>
</dom-module>
