<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html"><dom-module id="page-not-found">

 <template>

   <style>

     :host {

       display: block;

     }

   </style>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   <div class="jumbotron">

     <h1>Aquí no hay nada que ver</h1>

   </div>

 </template>  <script>

   /**

    * @customElement

    * @polymer

    */

   class PageNotFound extends Polymer.Element {

     static get is() { return 'page-not-found'; }

     static get properties() {

       return {

       };

     }

   }    window.customElements.define(PageNotFound.is, PageNotFound);

 </script>

</dom-module>
