<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../src/bar-navigation/bar-navigation.html">



<dom-module id="bar-nav-control">
  <template>
    <style>
      :host {
        display: block;
        margin-top: 20%;
      }
      ._quote {
        color: blue;
      }
    </style>

    <!-- Importar estilos -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Componente navegación -->
    <bar-navigation></bar-navigation>
    <blockquote class="blockquote text-center _quote">
      <h1>Proyecto Ninja Practicioner</h1>
      <footer class="blockquote-footer">Creado por <cite title="Source Title">Santiago y David</cite></footer>
    </blockquote>

  </template>

  <script>

    class BarNavControl extends Polymer.Element {
      static get is() { return 'bar-nav-control'; }
      static get properties() {
        return {
        };
      }
    }

    window.customElements.define(BarNavControl.is, BarNavControl);

  </script>

</dom-module>
